@using DemoWebAppIdentity.Extensions
@{
    ViewData["Title"] = "Secret Page";
}
<h1>@ViewData["Title"]</h1>

<p>Page allowed only for authenticated and authorized user.</p>

@{
    if (this.IfClaim("Products", "Write"))
    {
        <p>This text can only to see, if you have permission to write. </p>
    }
}

<div>
    @Html.ActionLink("Secret", "Secret").IfClaimShow(Context,"Products", "Write")
</div>

<div>
    <br/>
    <a href="#" class="btn btn-danger @Html.Raw(this.IfClaimShow("Products", "Write"))">Delete</a>
</div>